<div class="container mt-5">
<table class="table table-striped mb-5">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Day</th>
          <th scope="col">Entry time</th>
          <th scope="col">Exit time</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of array">
          <td>{{utente.idUtente}}</td>
          <td>{{ item.data }}</td>
          <td>{{ item.ingresso }}</td>
          <td>{{ item.uscita }}</td>
          <td><button class="btn btn-warning">Modify</button></td>
        </tr>
  </table>

  <div class="d-flex justify-content-center">
    <button (click)="deleteAll()" class="btn btn-primary" type="button" style="background-color: red;">Delete all</button>
  </div>
</div>
