body {
  background-color: #f8f9fa;
}

.welcome-container {
  margin-top: 50px;
}

.welcome-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.admin-icon {
  font-size: 48px;
  color: #007bff;
}
