

<div class="container">
  <div class="container welcome-container text-center">
    <i class="fas fa-user-shield admin-icon"></i>
    <h1>Benvenuto {{username}}</h1>
    <div class="welcome-text">Welcome to work!</div>
    <p class="lead">Ready to go to work?</p>
  </div>

  <div class="container welcome-container text-center mb-5">
    <i class="fas fa-user-shield admin-icon"></i>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button id="ing" [disabled]="!isIngEnabled" (click)="clickEntrata()" class="btn btn-primary" type="button">Enter</button>
      <button id="exit" [disabled]="!isExitEnabled" (click)="clickUscita()" class="btn btn-primary" type="button">Exit</button>
    </div>

  </div>
  <table class="table table-secondary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Day</th>
        <th scope="col">Entry time</th>
        <th scope="col">Exit time</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of persone; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ persona.data }}</td>
        <td>{{ persona.entrata }}</td>
        <td>{{ persona.uscita }}</td>
      </tr>
    </tbody>
  </table>

</div>


